<!-- cart.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Cart</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>{{ cart.get_total }}</td>
        </tr>
        </tfoot>
    </table>
    {#    <a href="{% url 'cart:checkout' %}" class="btn btn-primary">Checkout</a>#}
{% endblock %}
