{% extends 'base.html' %}
{% load static %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    {% for product in products %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row my-3">
        {% endif %}
    <div class="col-xs-12 my-1 col-sm-6 col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a role="button"
                                          href="{% url 'main_app:product_detail' product.id %}">{{ product.name }}</a>
                </h5>
                <p class="card-text">Rs. {{ product.price }}</p>
                <h6>Available Stock: {{ product.quantity_available }}</h6>
            </div>
        </div>
    </div>
    {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
        </div>
    {% endif %}
    {% endfor %}

    <script>

        function add_to_cart() {
            const product_id = event.target.value;
            axios.get(`add-product/${product_id}`).then(
                function (response) {
                    const data = response.data;
                    console.log(data);

                }
            )
        }
    </script>
    <script>

    </script>
{% endblock %}