{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    {% for product in products %}
        <h2>{{ product.name }}</h2>
        <p>Rs. {{ product.price }}</p>
        <button onclick="add_to_cart()" value="{{ product.id }}">Add to
            Cart
        </button>
        <h3 id="cart_status">{{ request.session.cart.total_quantity }}</h3>
    {% endfor %}
    <script>
        function add_to_cart() {
            const product_id = event.target.value;
            const res = fetch(`add-product/${product_id}`).then(
                function (response) {
                    response.json().then(
                        function (res) {
                            const data = res.quantity;
                            console.log(data);
                            // document.getElementById("cart_status").innerText = data;
                        }
                    )
                }
            )
        }
    </script>
{% endblock %}