{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block css_style %}
	<style>
    /* CSS styles for the dashboard */
    .product-details {
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
        margin: 20px auto;
        max-width: 400px;
    }

    .product-name {
        color: #333;
        font-size: 24px;
        margin: 0;
    }

    .product-price {
        color: #007bff;
        font-size: 20px;
        margin: 10px 0;
    }

    .available-stock {
        color: #28a745;
        font-size: 18px;
        margin: 10px 0;
    }

    .add-to-cart-btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .add-to-cart-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
</style>
{% endblock %}
{% block content %}
    <div class="product-details">
        <h1 class="product-name">{{ product.name }}</h1>
        <h2 class="product-price">Rs. {{ product.price }}</h2>
        <h3 class="available-stock" id="available_stock">Available Stock: {{ product.quantity_available }}</h3>
        <button onclick="add_to_cart()" value="{{ product.id }}" id="add_cart_btn" class="add-to-cart-btn">Add To Cart</button>
    </div>
    <script>
        // javascript on load
        window.onload = function () {
            // select available stock via id
            const available_stock = document.getElementById('available_stock');
            // select add_cart_btn via id
            const add_cart_btn = document.getElementById('add_cart_btn');
            // trim available stock to get only number
            const available_stock_number = parseInt(available_stock.innerText.split(' ')[2]);
            // disable add to cart button if available stock is 0
            if (available_stock_number === 0) {
                add_cart_btn.disabled = true;
            }
        }

        function add_to_cart() {
            const product_id = event.target.value;
            const address = `http://127.0.0.1:8000/add-product/${product_id}/`;
            axios.get(address).then(
                function (response) {
                    const data = response.data;
                    console.log(data);
                    // select available stock via id
                    const available_stock = document.getElementById('available_stock');
                    // select add_cart_btn via id
                    const add_cart_btn = document.getElementById('add_cart_btn');
                    // trim available stock to get only number
                    const available_stock_number = parseInt(available_stock.innerText.split(' ')[2]);
                    // reduce available stock number by 1
                    const new_available_stock_number = available_stock_number - 1;
                    // set new available stock number
                    available_stock.innerText = `Available Stock: ${new_available_stock_number}`;
                    // disable add to cart button if available stock is 0
                    if (new_available_stock_number === 0) {
                        add_cart_btn.disabled = true;
                    }
                }
            )
        }


    </script>
{% endblock %}